.select {
  display: inline-block;
  z-index: 10000;
  vertical-align: top;
}
.select cite {
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  width: 80px;
  height: 22px;
  line-height: 20px;
  border-radius: 2px;
  display: block;
  color: #0D80FE;
  cursor: pointer;
  font-style: normal;
  padding-left: 4px;
  padding-right: 24px;
  border: 1px solid #B0DFFF;
}
.select cite.active {
  border-color: #62C0FF;
  -webkit-box-shadow: 0 1px 2px #6AABDD;
  -moz-box-shadow: 0 1px 2px #6AABDD;
  box-shadow: 0 1px 2px #6AABDD;
}
.select cite:after {
  display: block;
  content: "";
  height: 24px;
  width: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/icon-select.png") no-repeat center;
}
.select ul {
  box-sizing: border-box;
  width: 80px;
  background-color: #fff;
  position: absolute;
  z-index: 20000;
  display: none;
  border: 1px solid #62C0FF;
  border-radius: 0 0 2px 2px ;
}
.select ul.active {
  border-color: #62C0FF;
  border-top: 0;
  -webkit-box-shadow: 0 1px 2px #6AABDD;
  -moz-box-shadow: 0 1px 2px #6AABDD;
  box-shadow: 0 1px 2px #6AABDD;
}
.select ul li {
  font-size: 12px;
  height: 26px;
  line-height: 24px;
  margin: 3px 2px;
}
.select ul li a {
  display: block;
  height: 24px;
  color: #313C47;
  text-decoration: none;
  padding: 0 4px;
  line-height: 24px;
  border-radius: 2px;
}
.select ul li:hover {
  background-color: #D1F1FF;
}
