//mixin
.col(@num){
  width:percentage(@num/12);
}
.row(@num){
  height:percentage(@num/3);;
}

body{
background: #2482E7;
  //background: url("../images/bg.png") no-repeat;
  //background-size: cover;
}
.wrapper{
  width: 1366px;
  height: 768px;
  margin:0 auto;
}
.header-wrapper{
  position: relative;
  margin-bottom: -2px;
  padding: 0 10px;
  .logo-wrapper{
    height: 70px;
    background:url("../images/logo-wrapper-bg.png") no-repeat 55px 3px;
    font-size: 0;
    img{
      float: left;
    }
    .selector{
      position: absolute;
      left: 478px;
      top: 12px;
      margin: 10px 0 0 60px;
      z-index: 999;
      .selector-trigger{
        position: relative;
        display: inline-block;
        width: 100px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        color: #CEF3FC;
        text-decoration: none;
        padding-left: 38px;
        background: #278EFE;
        border-radius: 14px;
        &:before{
          content: '';
          position: absolute;
          top: 6px;
          left: 18px;
          width: 12px;
          height: 16px;
          background: url("../images/icon-location.png") no-repeat;
        }
      }
      .selector-list{
        margin-top: 6px;
        display: none;
        box-shadow: 0 0 2px 0 rgba(102,102,102,0.5);

        width: 400px;
        background:#fff;
        border-radius: 2px;
        padding: 5px 10px;
        padding-right: 0;
        ul{
          li{
            font-size: 0;

            .tit{
              float: left;
              width: 30px;
              text-align: left;
              margin-right: 5px;
              font-size: 13px;
              margin-top: 7px;
              color: #006ACC;
            }
            ul{
              float: left;
              width: 353px;
              li{
                float: left;
                width: 60px;
                height: 20px;
                text-align: center;
                margin:2.5px 5px;

                &.active{
                  background: #278EFE;
                  border-radius: 10px;
                  a{
                    color: #fff;
                  }
                }
                &.readonly{
                  a{
                    cursor: default;

                  }
                }
                &:hover{
                  background: #278EFE;
                  border-radius: 10px;

                  a{
                    color: #fff;
                  }
                }
                a{
                  text-decoration: none;
                  line-height: 20px;
                  color: #607D8B;

                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .nav-wrapper{
    position: absolute;
    top: 17px;
    right: 200px;
    z-index: 1000;
    .nav{
      float: left;
      width: 146px;
      text-align: center;
      margin-right: 8px;
      background: url("../images/nav-hover.png") no-repeat;
      padding: 10px;
      a{
        display: inline-block;
        width:100%;
        color: #fff;
        font-size: 16px;
        height: 40px;
        text-decoration: none;
      }
      &:hover{
        background: url("../images/nav-normal.png") no-repeat;
        a{

          color: #0D80FE;
        }
      }
      &.active{
        background: url("../images/nav-normal.png") no-repeat;
        a{
          //color: #fff;
          color: #0D80FE;
        }
      }
    }
  }

  .enter{
    position: absolute;
    top: 12px;
    width: 102px;
    right: 13px;
    height: 46px;
    background: url(../images/enter.png) no-repeat;
    text-decoration: none;
    line-height: 46px;
    padding-left: 33px;
    color: #0D80FE;
    font-size: 14px;
  }
}
.content-wrapper{
  margin: 6px;
  margin-top:0;
  background: url("../images/content-wrapper-bg.png");
  border-radius: 3px;
  padding: 2px 5px;
  .panel{
    position: relative;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(102,102,102,0.5);
    margin:6px 3px;
    border-radius: 2px;
    .panel-header{
      position: relative;
      padding: 0 0 0 8px;
      height: 32px;
      line-height: 32px;
      color: #006ACC;
      font-size: 14px;
      .num{
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 14px;
        color: #006ACC;
        span{
          color: #F64E42;
        }
      }
    }


  }
  .left{
    float: left;
    width: 336px;
    .panel{
      height: 222px;
      .panel-header{
        background: url(../images/panel-side-line.png) no-repeat 0 6px;
        &.panel-side-line1{
          background: url(../images/panel-side-line1.png) no-repeat 0 6px;
        }
      }
      .panel-cont{
        height: 192px;
        #gauge{
          margin-top: 20px;
          float: left;
          width:55%;
          height: 160px;
        }
        .display{
          float: left;
          margin-top: 9px;
          margin-left: 7px;
          .display-item{
            width: 137px;
            height: 30px;
            margin-bottom: 10px;
            padding: 1px;
            .left{
              width: 60px;
              height: 28px;
              line-height: 28px;
              color:#fff;
              font-size: 12px;
              margin-right: 2px;
              text-align: center;
            }
            .right{
              width: 73px;
              height: 28px;
              line-height: 28px;
              font-size: 20px;
              text-align: center;
            }
            &.zd{
              .left{
                background:#0D80FE ;
              }
              .right{
                background: #BADBFF;
                color: #006ACC;

              }
              background: url("../images/display-bg-blue.png") no-repeat;
            }
            &.gp{
              .left{
                background:#F5A623 ;
              }
              .right{
                background: #FCD595;
                color: #FF7E22;
              }
              background: url("../images/display-bg-yellow.png") no-repeat;
            }
            &.cq{
              .left{
                background:#E51C23 ;
              }
              .right{
                background: #FFAFB2;
                color: #E51C23;
              }
              background: url("../images/display-bg-red.png") no-repeat;
            }
          }
        }
        .display1 {
          padding: 8px;
          padding-bottom: 10px;
          padding-top: 10px;

          .display-item {
            //width: 100px;
            height: 24px;
            padding: 1px;
            background: url("../images/display-bg-blue.png") no-repeat;
            float: left;
            margin-right: 1px;
            &.display-item1{
              background: url("../images/display-bg-green.png") no-repeat;

            }
            .left {
              width: 72px;
              height: 24px;
              line-height: 22px;
              color: #fff;
              font-size: 12px;
              margin-right: 2px;
              text-align: center;
            }
            .right {
              width: 80px;
              height: 24px;
              line-height: 22px;
              font-size: 13px;
              text-align: center;
              color: #FD231C;
            }
          }
        }
      }
    }
  }
  .middle{
    float: left;
    width: 672px;
    .panel{
      height: 450px;
      .panel-header{
        background: url(../images/panel-middle-line.png) no-repeat 0 6px;
      }
      .panel-cont{
        position: relative;
        height: 420px;
        background: url("../images/map-bg.png") -32px 11px no-repeat !important
      }
    }
  }
  .right{
    float: left;
    width: 336px;
    .panel{
      height: 222px;
      .panel-header{
        background: url(../images/panel-side-line.png) no-repeat 0 6px;
        &.panel-side-line2{
          background: url(../images/panel-side-line2.png) no-repeat 0 6px;
        }
      }
      .panel-cont{
        height: 192px;
        overflow: hidden;
      }
    }
  }
  .bottom{
    float: left;

    .panel{
      float: left;
      width: 666px;
      margin-top: 0;
      height: 222px;
      .panel-header{
        background: url(../images/panel-bottom-line.png) no-repeat 0 6px;
      }
      .panel-cont{
        height: 190px;
        .left{
          height:100%;
          float: left;
        }
        .right{
          height:100%;
          float: left;
        }
      }
    }
  }
  .list{
    .list-item{
      float: left;
      width: 156px;
      height: 54px;
      margin: 3px;
      background: #fff;
      border:1px solid #B0DFFF;
      padding: 10px 0 10px 42px;
      position: relative;
      border-radius: 2px;

      //危化品
      &.whp{
        background: url("../images/oval-whp.png") 5px no-repeat;
      }
      //三场所两企业
      &.scslqy{
        background: url("../images/oval-scslqy.png") 5px no-repeat;
      }
      //燃气
      &.rq{
        background: url("../images/oval-rq.png") 5px no-repeat;
      }
      //特种作业
      &.tzzy{
        background: url("../images/oval-tzzy.png") 5px no-repeat;
      }
      //三同时
      &.sts{
        background: url("../images/oval-sts.png") 5px no-repeat;
      }
      //有重大危险源
      &.zdwxy{
        background: url("../images/oval-zdwxy.png") 5px no-repeat;
      }
/*-------------------------------*/
      .tit{
        color: #607D8B;
        font-size: 12px;
        line-height: 16px;
      }
      a{
        color: #EB3432;
        text-decoration: underline;
        font-size: 14px;
        line-height: 19px;
      }
      .percent{
        color: #2A8DEA;
        font-size: 14px;
        float: right;
        margin-top: 3px;
        margin-right: 3px;
      }
    }
  }
}


.hd{
  height: 15px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 1;
  left:0;
  text-align: center;
  ul{
    display: inline-block;
    overflow: hidden;
    li{
      float: left;
      margin-right: 10px;
      width: 8px;
      height: 8px;
      background: #BCE0FF;
      cursor: pointer;
      border-radius: 50%;
      color: transparent;
      &.on{
        background: #0D80FE;
      }
    }
  }
}
.bd{
  height:100%;
  position: relative;
  ul{
    zoom: 1;
    overflow: hidden;
    li{
      height:100%;
    }
  }
}

.divselect-wrapper{
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 0;
  z-index: 999;
  .select{
    margin-left: 8px;
  }
}
.col-12{
  .col(12)
}
.col-11{
  .col(11)
}
.col-10{
  .col(10)
}
.col-9{
  .col(9)
}
.col-8{
  .col(8)
}
.col-7{
  .col(7)
}
.col-6{
  .col(6)
}
.col-5{
  .col(5)
}
.col-4{
  .col(4)
}
.col-4{
  .col(3)
}
.col-3{
  .col(3)
}
.col-2{
  .col(2)
}
.col-1{
  .col(1)
}


.row-1{
  .row(1)
}

.row-2{
  .row(2)
}

.row-3{
  .row(3)
}

.board{
  position: absolute;
  left: 20px;
  top:40px;
  .radio-select{
    float: left;
    position: relative;
    margin-top: 6px;
    .radio-field{
      float: left;
      color: #8BC2FF;
      font-size: 12px;
      position: relative;
      margin-right: 10px;
      input[type="radio"]{
        width: 12px;
        height: 12px;
        opacity: 0;
      }
      label {
        position: absolute;
        left: 5px;
        top: 3px;
        width: 20px;
        height: 20px;
      }
      input+label{
        width: 12px;
        height: 12px;
        background: url("../images/radio.png") no-repeat;

      }
      input:checked+label{
        background: url("../images/radio-checked.png") no-repeat;

      }
    }


  }
  .city{
    float: left;
    margin-bottom: 12px;
    li{
      position: relative;
      float: left;
      margin-right: 10px;
      width: 94px;height:30px;
      line-height:28px;

      font-size: 14px;color: #006ACC;
      text-align: center;
      &.province{
        padding-left: 22px;
        cursor: pointer;
        &:before{
          content: '';
          position: absolute;
          left: 0px;
          top:5px;
          width: 14px;
          height: 20px;
          background: url("../images/loc.png") no-repeat;
        }
      }
    }
  }
  .board-list{
    position: absolute;
    top: 40px;
    li{
      width: 96px;
      height: 46px;
      background: #F4FBFF;
      border: 1px solid #64B6FE;
      text-align: center;
      font-size: 12px;
      border-radius: 4px;
      margin-bottom: 10px;
      .text{
        color: #00557F;
        line-height: 25px;}
      .num{
        display: inline-block;
        vertical-align: top;
        color: #EB3432;
        font-size: 15px;
        padding: 0 4px;
      }
      .unit{
        display: inline-block;
        vertical-align: top;
        color: #5F8397;
        line-height: 14px;
      }
    }


  }
}
.total{
  position: absolute;
  right: 13px;
  bottom: 13px;
  width: 100px;
  height: 46px;
  background: #FEFEE6;
  border: 1px solid #E93431;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  .text{
    color: #EB3432;
    line-height: 25px;}
  .num{
    display: inline-block;
    vertical-align: top;
    color: #EB3432;
    font-size: 15px;
    padding: 0 4px;
  }
  .unit{
    display: inline-block;
    vertical-align: top;
    color: #5F8397;
    line-height: 14px;
  }
}
