body {
  background: #2482E7;
}
.wrapper {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
.header-wrapper {
  position: relative;
  margin-bottom: -2px;
  padding: 0 10px;
}
.header-wrapper .logo-wrapper {
  height: 70px;
  background: url("../images/logo-wrapper-bg.png") no-repeat 55px 3px;
  font-size: 0;
}
.header-wrapper .logo-wrapper img {
  float: left;
}
.header-wrapper .logo-wrapper .selector {
  position: absolute;
  left: 478px;
  top: 12px;
  margin: 10px 0 0 60px;
  z-index: 999;
}
.header-wrapper .logo-wrapper .selector .selector-trigger {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #CEF3FC;
  text-decoration: none;
  padding-left: 38px;
  background: #278EFE;
  border-radius: 14px;
}
.header-wrapper .logo-wrapper .selector .selector-trigger:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 18px;
  width: 12px;
  height: 16px;
  background: url("../images/icon-location.png") no-repeat;
}
.header-wrapper .logo-wrapper .selector .selector-list {
  margin-top: 6px;
  display: none;
  box-shadow: 0 0 2px 0 rgba(102, 102, 102, 0.5);
  width: 400px;
  background: #fff;
  border-radius: 2px;
  padding: 5px 10px;
  padding-right: 0;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li {
  font-size: 0;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li .tit {
  float: left;
  width: 30px;
  text-align: left;
  margin-right: 5px;
  font-size: 13px;
  margin-top: 7px;
  color: #006ACC;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul {
  float: left;
  width: 353px;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li {
  float: left;
  width: 60px;
  height: 20px;
  text-align: center;
  margin: 2.5px 5px;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li.active {
  background: #278EFE;
  border-radius: 10px;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li.active a {
  color: #fff;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li.readonly a {
  cursor: default;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li:hover {
  background: #278EFE;
  border-radius: 10px;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li:hover a {
  color: #fff;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li a {
  text-decoration: none;
  line-height: 20px;
  color: #607D8B;
  font-size: 12px;
}
.header-wrapper .nav-wrapper {
  position: absolute;
  top: 17px;
  right: 200px;
  z-index: 1000;
}
.header-wrapper .nav-wrapper .nav {
  float: left;
  width: 146px;
  text-align: center;
  margin-right: 8px;
  background: url("../images/nav-hover.png") no-repeat;
  padding: 10px;
}
.header-wrapper .nav-wrapper .nav a {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 16px;
  height: 40px;
  text-decoration: none;
}
.header-wrapper .nav-wrapper .nav:hover {
  background: url("../images/nav-normal.png") no-repeat;
}
.header-wrapper .nav-wrapper .nav:hover a {
  color: #0D80FE;
}
.header-wrapper .nav-wrapper .nav.active {
  background: url("../images/nav-normal.png") no-repeat;
}
.header-wrapper .nav-wrapper .nav.active a {
  color: #0D80FE;
}
.header-wrapper .enter {
  position: absolute;
  top: 12px;
  width: 102px;
  right: 13px;
  height: 46px;
  background: url(../images/enter.png) no-repeat;
  text-decoration: none;
  line-height: 46px;
  padding-left: 33px;
  color: #0D80FE;
  font-size: 14px;
}
.content-wrapper {
  margin: 6px;
  margin-top: 0;
  background: url("../images/content-wrapper-bg.png");
  border-radius: 3px;
  padding: 2px 5px;
}
.content-wrapper .panel {
  position: relative;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(102, 102, 102, 0.5);
  margin: 6px 3px;
  border-radius: 2px;
}
.content-wrapper .panel .panel-header {
  position: relative;
  padding: 0 0 0 8px;
  height: 32px;
  line-height: 32px;
  color: #006ACC;
  font-size: 14px;
}
.content-wrapper .panel .panel-header .num {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 14px;
  color: #006ACC;
}
.content-wrapper .panel .panel-header .num span {
  color: #F64E42;
}
.content-wrapper .left {
  float: left;
  width: 336px;
}
.content-wrapper .left .panel {
  height: 222px;
}
.content-wrapper .left .panel .panel-header {
  background: url(../images/panel-side-line.png) no-repeat 0 6px;
}
.content-wrapper .left .panel .panel-header.panel-side-line1 {
  background: url(../images/panel-side-line1.png) no-repeat 0 6px;
}
.content-wrapper .left .panel .panel-cont {
  height: 192px;
}
.content-wrapper .left .panel .panel-cont #gauge {
  margin-top: 20px;
  float: left;
  width: 55%;
  height: 160px;
}
.content-wrapper .left .panel .panel-cont .display {
  float: left;
  margin-top: 9px;
  margin-left: 7px;
}
.content-wrapper .left .panel .panel-cont .display .display-item {
  width: 137px;
  height: 30px;
  margin-bottom: 10px;
  padding: 1px;
}
.content-wrapper .left .panel .panel-cont .display .display-item .left {
  width: 60px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  font-size: 12px;
  margin-right: 2px;
  text-align: center;
}
.content-wrapper .left .panel .panel-cont .display .display-item .right {
  width: 73px;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  text-align: center;
}
.content-wrapper .left .panel .panel-cont .display .display-item.zd {
  background: url("../images/display-bg-blue.png") no-repeat;
}
.content-wrapper .left .panel .panel-cont .display .display-item.zd .left {
  background: #0D80FE ;
}
.content-wrapper .left .panel .panel-cont .display .display-item.zd .right {
  background: #BADBFF;
  color: #006ACC;
}
.content-wrapper .left .panel .panel-cont .display .display-item.gp {
  background: url("../images/display-bg-yellow.png") no-repeat;
}
.content-wrapper .left .panel .panel-cont .display .display-item.gp .left {
  background: #F5A623 ;
}
.content-wrapper .left .panel .panel-cont .display .display-item.gp .right {
  background: #FCD595;
  color: #FF7E22;
}
.content-wrapper .left .panel .panel-cont .display .display-item.cq {
  background: url("../images/display-bg-red.png") no-repeat;
}
.content-wrapper .left .panel .panel-cont .display .display-item.cq .left {
  background: #E51C23 ;
}
.content-wrapper .left .panel .panel-cont .display .display-item.cq .right {
  background: #FFAFB2;
  color: #E51C23;
}
.content-wrapper .left .panel .panel-cont .display1 {
  padding: 8px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.content-wrapper .left .panel .panel-cont .display1 .display-item {
  height: 24px;
  padding: 1px;
  background: url("../images/display-bg-blue.png") no-repeat;
  float: left;
  margin-right: 1px;
}
.content-wrapper .left .panel .panel-cont .display1 .display-item.display-item1 {
  background: url("../images/display-bg-green.png") no-repeat;
}
.content-wrapper .left .panel .panel-cont .display1 .display-item .left {
  width: 72px;
  height: 24px;
  line-height: 22px;
  color: #fff;
  font-size: 12px;
  margin-right: 2px;
  text-align: center;
}
.content-wrapper .left .panel .panel-cont .display1 .display-item .right {
  width: 80px;
  height: 24px;
  line-height: 22px;
  font-size: 13px;
  text-align: center;
  color: #FD231C;
}
.content-wrapper .middle {
  float: left;
  width: 672px;
}
.content-wrapper .middle .panel {
  height: 450px;
}
.content-wrapper .middle .panel .panel-header {
  background: url(../images/panel-middle-line.png) no-repeat 0 6px;
}
.content-wrapper .middle .panel .panel-cont {
  position: relative;
  height: 420px;
  background: url("../images/map-bg.png") -32px 11px no-repeat !important;
}
.content-wrapper .right {
  float: left;
  width: 336px;
}
.content-wrapper .right .panel {
  height: 222px;
}
.content-wrapper .right .panel .panel-header {
  background: url(../images/panel-side-line.png) no-repeat 0 6px;
}
.content-wrapper .right .panel .panel-header.panel-side-line2 {
  background: url(../images/panel-side-line2.png) no-repeat 0 6px;
}
.content-wrapper .right .panel .panel-cont {
  height: 192px;
  overflow: hidden;
}
.content-wrapper .bottom {
  float: left;
}
.content-wrapper .bottom .panel {
  float: left;
  width: 666px;
  margin-top: 0;
  height: 222px;
}
.content-wrapper .bottom .panel .panel-header {
  background: url(../images/panel-bottom-line.png) no-repeat 0 6px;
}
.content-wrapper .bottom .panel .panel-cont {
  height: 190px;
}
.content-wrapper .bottom .panel .panel-cont .left {
  height: 100%;
  float: left;
}
.content-wrapper .bottom .panel .panel-cont .right {
  height: 100%;
  float: left;
}
.content-wrapper .list .list-item {
  float: left;
  width: 156px;
  height: 54px;
  margin: 3px;
  background: #fff;
  border: 1px solid #B0DFFF;
  padding: 10px 0 10px 42px;
  position: relative;
  border-radius: 2px;
  /*-------------------------------*/
}
.content-wrapper .list .list-item.whp {
  background: url("../images/oval-whp.png") 5px no-repeat;
}
.content-wrapper .list .list-item.scslqy {
  background: url("../images/oval-scslqy.png") 5px no-repeat;
}
.content-wrapper .list .list-item.rq {
  background: url("../images/oval-rq.png") 5px no-repeat;
}
.content-wrapper .list .list-item.tzzy {
  background: url("../images/oval-tzzy.png") 5px no-repeat;
}
.content-wrapper .list .list-item.sts {
  background: url("../images/oval-sts.png") 5px no-repeat;
}
.content-wrapper .list .list-item.zdwxy {
  background: url("../images/oval-zdwxy.png") 5px no-repeat;
}
.content-wrapper .list .list-item .tit {
  color: #607D8B;
  font-size: 12px;
  line-height: 16px;
}
.content-wrapper .list .list-item a {
  color: #EB3432;
  text-decoration: underline;
  font-size: 14px;
  line-height: 19px;
}
.content-wrapper .list .list-item .percent {
  color: #2A8DEA;
  font-size: 14px;
  float: right;
  margin-top: 3px;
  margin-right: 3px;
}
.hd {
  height: 15px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 1;
  left: 0;
  text-align: center;
}
.hd ul {
  display: inline-block;
  overflow: hidden;
}
.hd ul li {
  float: left;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background: #BCE0FF;
  cursor: pointer;
  border-radius: 50%;
  color: transparent;
}
.hd ul li.on {
  background: #0D80FE;
}
.bd {
  height: 100%;
  position: relative;
}
.bd ul {
  zoom: 1;
  overflow: hidden;
}
.bd ul li {
  height: 100%;
}
.divselect-wrapper {
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 0;
  z-index: 999;
}
.divselect-wrapper .select {
  margin-left: 8px;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-4 {
  width: 25%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.row-1 {
  height: 33.33333333%;
}
.row-2 {
  height: 66.66666667%;
}
.row-3 {
  height: 100%;
}
.board {
  position: absolute;
  left: 20px;
  top: 40px;
}
.board .radio-select {
  float: left;
  position: relative;
  margin-top: 6px;
}
.board .radio-select .radio-field {
  float: left;
  color: #8BC2FF;
  font-size: 12px;
  position: relative;
  margin-right: 10px;
}
.board .radio-select .radio-field input[type="radio"] {
  width: 12px;
  height: 12px;
  opacity: 0;
}
.board .radio-select .radio-field label {
  position: absolute;
  left: 5px;
  top: 3px;
  width: 20px;
  height: 20px;
}
.board .radio-select .radio-field input + label {
  width: 12px;
  height: 12px;
  background: url("../images/radio.png") no-repeat;
}
.board .radio-select .radio-field input:checked + label {
  background: url("../images/radio-checked.png") no-repeat;
}
.board .city {
  float: left;
  margin-bottom: 12px;
}
.board .city li {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 94px;
  height: 30px;
  line-height: 28px;
  font-size: 14px;
  color: #006ACC;
  text-align: center;
}
.board .city li.province {
  padding-left: 22px;
  cursor: pointer;
}
.board .city li.province:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 5px;
  width: 14px;
  height: 20px;
  background: url("../images/loc.png") no-repeat;
}
.board .board-list {
  position: absolute;
  top: 40px;
}
.board .board-list li {
  width: 96px;
  height: 46px;
  background: #F4FBFF;
  border: 1px solid #64B6FE;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.board .board-list li .text {
  color: #00557F;
  line-height: 25px;
}
.board .board-list li .num {
  display: inline-block;
  vertical-align: top;
  color: #EB3432;
  font-size: 15px;
  padding: 0 4px;
}
.board .board-list li .unit {
  display: inline-block;
  vertical-align: top;
  color: #5F8397;
  line-height: 14px;
}
.total {
  position: absolute;
  right: 13px;
  bottom: 13px;
  width: 100px;
  height: 46px;
  background: #FEFEE6;
  border: 1px solid #E93431;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
}
.total .text {
  color: #EB3432;
  line-height: 25px;
}
.total .num {
  display: inline-block;
  vertical-align: top;
  color: #EB3432;
  font-size: 15px;
  padding: 0 4px;
}
.total .unit {
  display: inline-block;
  vertical-align: top;
  color: #5F8397;
  line-height: 14px;
}
